<!DOCTYPE html>
<html lang="en">
<head>
	<title>Flask Website Creator</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{url_for('static',filename='images/icons/favicon.png')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/animate/animate.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">

		<div class="container-login100">

{% with messages = get_flashed_messages(category_filter=["success"]) %}
  {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
    {% for message in messages %}
      <strong>Success! </strong>{{ message }}
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  {% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["error"]) %}
  {% if messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {% for message in messages %}
      <strong>Error! </strong>>{{ message }}
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
  {% endif %}
{% endwith %}
			
  
			<div class="wrap-login100">

				<div class="login100-pic js-tilt" data-tilt>
					<img src="{{url_for('static',filename='images/img-02.png')}}" alt="IMG">
				</div>

				<form class="login100-form validate-form" action="/" method="POST">
					<span class="login100-form-title">
						Flask Website Creator
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid Directory is required: C:\Users\JOHN\Desktop">
						<input class="input100" type="text" name="directory" placeholder="Directory" pattern="^[a-zA-Z]:\\[\\\S|*\S]?.*$">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-folder-open" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Folder Name is required">
						<input class="input100" type="text" name="foldername" placeholder="Folder Name">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-folder" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Create
						</button>
					</div>
				</form>

			</div>
		</div>


<div class="floating-text">
	Made by <a href="https://github.com/pinakipb2" target="_blank">PINAKI</a>
</div>
	</div>


<style type="text/css" media="screen">


.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}


</style>


	
	

	
<!--===============================================================================================-->	
	<script src="{{url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/tilt/tilt.jquery.min.js')}}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='js/main.js')}}"></script>

</body>
</html>